*{
    margin: 0;
}
.divall{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    width: 90%;
    margin: auto;
}
.divall1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.sing {
    width: 150px;
    height: 40px;
    background-color: #FF7A50;
    color:white;
    font-size: 25px;
    margin: auto;
    text-align: center;
}
.explore{
    display: flex;
    align-items: center;
    gap: 20px;
}